<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicio CSW</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=MuseoModerno:wght@200;400;700&display=swap" rel="stylesheet">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"
  />
</head>
<body>
    <header class="header">
        <nav class="nav">
            <a href="#" class="nav-enlace">Eduard Quintero</a>
        </nav>
        <div class="presentacion">
            <h1 class="animate__animated animate__backInDown">Ejercicio Postulación CSW Mapa de Monumentos</h1>

        </div>
    </header>
    <h2 class="subtitle">Mapa leaflet</h2>

    <div class="section">
        <div id="map-leaflet" class="animate__animated animate__backInUp"></div>
        <div class="contenedor-lugares animate__animated  animate__backInRight">
            <div class="lugares" id="div1">
            
                <p id="lugares-chile">Monumentos Historicos de Santiago</p>
                <button id="call" class="btn">Quires saber a donde ir?</button>
            </div>
        </div>
    
    </div>
    <!-- Seccion Contacto-->
    <section class="contacto">
       
        <div class="datos">
            <p>Eduardo Quintero</p>
            <p>Ejercico para postulación</p>
            <p>equintero.angular@gmail.com</p>
            <p>Tlf: +56 990783372</p>
            <a href="https://dinidessing.000webhostapp.com/">https://dinidessing.000webhostapp.com/</a>
            <a href="https://github.com/bodega-108/ejerciciocsw">respositorio github</a>
        </div>
        <div class="datos">
            
        </div>
        <div class="datos">
            
        </div>
    </section>
   

    </div>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="/js/main.js"></script>


</body>
</html>